<h2>Search results</h2>

<div class="search-results">
{{#each songResults}}
<a href="{{this.href}}">{{this.name}}</a>
<p>by: {{this.album.artists.0.name}}</p>
<audio controls>
    <source src="{{this.preview_url}}" type="audio/mpeg">
</audio>
<form action="/add-songs/{{this.id}}" method="post">
<button type="submit">Add</button>
{{/each}}
{{!-- HIDDEN --}}
<input type="hidden" name="spotifyId" value="{{spotifyId}}">
<input type="hidden" name="playlistId" value="{{playlistId}}">
</form>


</div>


