<div class="view-playlist">

    <h2>{{playlist.name}}</h2> 
    <p>created by {{playlist.author.username}}</p>
    <p>{{playlist.description}}</p>
<div class="authorbtns">
    {{#ifEquals author._id user._id}} 
        <form action="/edit/{{playlist._id}}" method="get">
        <button type="submit">Edit your Playlist</button>
        </form>

        <form action="/delete/{{playlist._id}}" method="post">
        <button type="submit">Delete</button>
        </form>
    {{/ifEquals}}
</div>

{{!--     <p>Check the next songs:</p>
    <ul>
        <li> {{tracks}} </li>
    </ul> --}}

</div>

<div class="search-song">
    <h3>Add your song!</h3>

    <form action="/search-songs" class="search-song" method="post">
 
        <label for="search">Search</label>
        <input type="text" name="search" placeholder="Look for artists or tracks">
        <br>
        <input type="hidden" name="spotifyId" value="{{playlist.spotifyId}}"> 
        <input type="hidden" name="playlistId" value="{{playlist._id}}">

        <button type="submit">Search</button>

    </form>
</div>