<div class="view-playlist">

    <h2>{{playlist.name}}</h2>
    <h3>Playlist</h3>
    <p>By {{playlist.author.username}}</p>
    <p>{{playlist.description}}</p>
    <p>Check the next songs:</p>
    <ul>
        <li>{{tracks}}</li>
    </ul>

    {{#ifEquals author._id user._id}} 
        <form action="/edit/{{playlist._id}}" method="get">
        <button type="submit">Edit your Playlist</button>
        </form>

        <form action="/delete/{{playlist._id}}" method="post">
        <button type="submit">Delete</button>
        </form>
    {{/ifEquals}}

</div>

<div class="search-song">
    <h3>Add your song!</h3>

    <form action="/search-songs" class="search-song" method="post">
 
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="artist">Artist</label>
        <input type="text" name="artist">
        <br>

        {{!--  hidden playlist id --}}
        <input type="hidden" name="playlistId" value="{{playlist._id}}">

        <button type="submit">Search</button>

    </form>
</div>